<h2>Welcome! Please sign in:</h2>
<form class="" action="/sign-in" method="get">
  <button type="submit">Sign in</button>
</form>

<h2>Or if you are a new user, sign up:</h2>
<form class="" action="/sign-up" method="get">
  <button type="submit">Sign up</button>
</form>
