<form action="/verify-sign-in" method="post">
  <label for="username">Username</label>
  <input type="text" name="username" id="username" value="<%= params[:username] %>">
  <label for="password">Password</label>
  <input type="text" name="password" id="password">
  <button type="submit">Submit</button>
</form>
