

* {
  font-family: sans-serif;
  padding: 1em;
}

.flash {
  background: yellow;
  padding: .2em;
}

form.inline {
  display: inline;
}

p.user_status {
  font-style: italic;
  font-size: 0.8em;
  padding: 0;
  margin: 0;
}
