

* {
  font-family: sans-serif;
  padding: 1em;
}

.flash {
  background: yellow;
  padding: .2em;
}

form.inline {
  display: inline;
}

p.user_status {
  font-style: italic;
  font-size: 0.8em;
  padding: 0;
  margin: 0;
}

img {
  width: 200px;
}

.link {
  float: left;
}

footer {
  clear: left;
}

#upload {
  border: solid;
  padding: 0;
  display: inline-block;
}
